@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
}
.game-area {
  position: relative;
  width: 720px;
  height: 480px;
  background-color: white;
  overflow: hidden;
}
.draggable {
  /* border: 1px solid red; */
  position: absolute;
  /* background-color: white; */
  * {
    pointer-events: none;
  }
  img {
    max-width: 100px;
  }
}
.draggable.spawn {
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-name: spawn;
  animation-duration: 0.5s;
}
.draggable.remove {
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-name: remove;
  animation-duration: 0.5s;
}
.draggable.dragging {
  /* pointer-events: none; */
  opacity: 0.2;
}
.draggable.shake {
  animation: wigglyAnim 0.5s;
}

@keyframes spawn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes remove {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.wiggly {
  font-size: 2rem;
  display: inline-block;
  animation: wigglyAnim 0.5s infinite;
}

@keyframes wigglyAnim {
  0% {
    transform: translate(5%, 5%) rotate(0deg);
  }
  25% {
    transform: translate(0%, 5%) rotate(2deg);
  }
  50% {
    transform: translate(5%, 0%) rotate(0deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(-2deg);
  }
  100% {
    transform: translate(2%, 1%) rotate(0deg);
  }
}

.wiggly {
  font-size: 2rem;
  font-family: "Annie Use Your Telescope", cursive;
  display: inline-block;
  animation: wigglyAnim 0.5s infinite;
}

.continue-button {
  font-size: 2em;
  font-family: "Annie Use Your Telescope", cursive;
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 6px;
  animation: pulseAnim 0.5s infinite;
}
@keyframes pulseAnim {
  0% {
    background: black;
  }
  50% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: black;
  }
}

.big-bang {
  width: 100%;
  height: 100%;
  background: black;
  animation: fadeIn 13s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rainbow-earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rainbowGlow 10s infinite, explodeFadeOut 10s;
  opacity: 0;
}

@keyframes rainbowGlow {
  0% {
    box-shadow: 0 0 50px 50px #ff0000;
  }
  25% {
    box-shadow: 0 0 50px 50px #ff9900;
  }
  50% {
    box-shadow: 0 0 50px 50px #ffff00;
  }
  75% {
    box-shadow: 0 0 50px 50px #33cc33;
  }
  100% {
    box-shadow: 0 0 50px 50px #3399ff;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}

@keyframes explodeFadeOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5, 5);
  }
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.earth-fake {
  position: absolute;
  background: url("./images/earth.png");
  background-size: cover;
  width: 380px;
  height: 380px;
  top: -25px;
  left: 185px;
  animation: fade-out 0.5s;
  opacity: 0;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: cover;
  opacity: 0.1;
}
